* text=auto eol=lf
*.jar filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.png -text
*.jpg -text
*.jpeg -text
*.webp -text
*.ogg -text
*.jar -text
*.zip -text
overrides/mods/**/*.jar filter=lfs diff=lfs merge=lfs -text
overrides/shaderpacks/**/*.zip filter=lfs diff=lfs merge=lfs -text
